body {
  background-color: rgb(255, 255, 255);
}
/*блок сообщений И  уголок сюда */
.message {
  display: flex;
  /* color: rgb(74, 165, 245); */
  align-items: flex-end;
  margin: 100px;
  width: 15px;
  height: 15px;
  background: radial-gradient(
    circle at 0 0,
    rgba(0, 0, 0, 0) 15px rgba(255 255 255, 0.3) 0
  );
}

.imageAndText {
  /* background-color: aquamarine; */
  display: flex;
  color: aliceblue;
  align-items: flex-end;
  margin: 10px;
  padding: 10px;
  border-radius: 5px 5px 5px 0;

  background-color: rgb(255, 255, 255, 0, 3);

}

/* аватарка И */
.imageAndText img {
  box-shadow: 0 0 5px #000000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.text {
  padding: 10px;
  border-radius: 5px 5px 5px 0;
  background-color: rgb(255, 255, 255, 0, 3);
}

.text:after {
  /* 
width: 15px;
height: 15px;
background: radial-gradient(circle at 0 0,rgba(0,0,0,0)15px rgba(255 255 255,0.3)0); */
}
/* имя первого */
.name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: rgb(255, 255, 255);
  background-color:#0066CC;
  padding-left: 8px;
  padding-top: 2px;
  border-radius: 6px 6px 0px 0;
  

  
}
/* блок с сообщением */
.messageText {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color:#0066CC;
  padding: 10px;
  border-radius: 0px 0px 5px 0;
  background-color: rgb(255, 255, 255, 0, 3);
  
}

.time {
    position: absolute;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: rgb(0, 0, 0);
 padding: 0 0 0 27px;  
}
